<div ng-controller="searchEventosController
            as eventos"> 
    <!-- Button (Double) -->    
    <div class="form-group">

        <center>
            <legend>Detalle</legend>
            <!-- Text input-->

            <table style="margin-top: 20px; margin-bottom: 20px;" >

                <div class="form-group" >


                    <textarea name="descripcion" ng-model="descrip" placeholder="Descripcion" class="form-control input-md" required="" type="text"/>

                </div>
                <div class="form-group" >
                    <button type="button" class="btn btn-success" ng-click="actualizar(descrip)">Actualizar</button>
                    <button type="button" class="btn btn-danger" ng-click="cerrar()">Cerrar</button>
                </div>


            </table>



        </center>

    </div>